#FishList{
    display: flex;
    flex-direction: column;
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size: x-small;
}

#locationList{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: small;
    text-align: center;
}

#TipsList{
    display: flex;
    flex-direction: column;
}